html{
    background: linear-gradient(rgb(245, 251, 255), rgb(212, 232, 245), rgb(245, 251, 255));
}

a {
    color: rgb(22, 66, 95)
}
body {
    font-family: 'Montserrat', sans-serif;
    width: 80vw;
    margin: auto;
    padding: auto;
    text-align: center;
    color: rgb(27, 61, 83)
}


.header {
    display:flex;
    flex-direction: row;
    width: 35em;
    margin: 0 auto 2em;
    padding: 0.2em 1em;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 20px 20px;
    position: sticky;
    top: 0;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.404);
}

.nav_bar_item {
    text-decoration: none;
    text-emphasis: none;
    text-align: center;
    color: rgb(83, 83, 83);
    border-radius: 8px;
    padding: 9px 15px;
    margin: 0 0,5em;
    font-weight: 600;
}

.nav_bar_item:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.404);
}


/* PARCOURS */

.parcours_card_header {
    text-decoration: none;
}

.parcours_index {
    text-emphasis: none;
    text-decoration: none;
    color: rgb(43, 107, 150);
    font-size: 40px;
    padding: 7px 15px;
    border-radius: 10px;
    margin: 40px;
}


.parcours_index:hover {
    background-color: rgb(33, 62, 97);
    color: rgb(255, 255, 255);
    box-shadow: 0px 8px 10px 0px rgb(12, 28, 48);
}
.parcours_cards {
    display: flex;
}


.parcours_card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 450px;
    text-align: center;
    margin: 2em auto 3em;
    border-radius: 20px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.514);
    text-decoration: none;
}


/* .parcours_card_1:hover{
    background-color: rgb(25, 54, 90);
} */
.parcours_card_2 {
    display: flex;
    flex-direction: column;
    width: 425px;
    text-align: center;
    margin: 2em auto 3em;
    border-radius: 20px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.514);
    text-decoration: none;
    justify-content: space-between;
}
/* .parcours_card_2:hover{
    background-color: rgb(25, 54, 90);
} */
.parcours_card_header{

    display: flex;
    flex-direction: column;
}

.parcours_card_title {
    padding: 1em 0 0 0;
    margin: 0;
}
.parcours_card_subtitle {
    margin: 0;
}

.parcours_card_duration {
    padding: 0;
    margin: 0;
}

.parcours_card_description {
    padding: 1em 3em;
}
.parcours_card_footer {
    display: flex;
    flex-direction: row;
}
.parcours_card_software {
    border-radius: 20px;
    /* box-shadow: 0px 4px 0px 2px rgb(4, 10, 17); */
    width: 40%;
    margin: 1em auto;
    text-align: center;
}
.parcours_production_card {
    padding: 1px;
    margin: 2px 0;
}

.parcours_card_super_footer {
    margin: 1em;
}
.parcours_card_link {
    text-decoration: none;
}

/* PRODUCTION */

.production_index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.production_index_exemple {
    color:  rgb(43, 107, 150);
    text-decoration: none;
    font-size: 40px;
    padding: 10px 20px;
    width: auto;
    margin: 20px auto;
    border-radius: 10px;
}
.production_index_exemple:hover {
    color: white;
    background-color: rgb(25, 54, 90);
}
.production_card_header {
    text-decoration: none;
    
}
.production_card_footer {

}
.production_card_title {
    color: rgb(255, 255, 255);
    padding: 1em 0;
    margin: 0;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.308);
    border-radius: 20px 20px 0 0;
    background: linear-gradient(rgb(62, 127, 170), rgb(73, 142, 189));
}
.production_card_title:hover {
    background: rgb(255, 255, 255);
    color: rgb(73, 142, 189);
}

.production_card_exemple {
    /* background-color: #B8D6E1; */
    border-radius: 20px;
    width: 80%;
    margin: 1em auto;
    text-align: center;
    padding: 1px 0;
}
.production_card_exemple:hover {
    background-color: rgb(255, 255, 255);
}
.production_card_link {
    text-decoration: none;
}

/* SHOW */

.show_body {
    display: flex;
    width: 90%;
    padding: auto;
    margin: auto;
}
.show_left{
    width: 15%;
}
.show_center {

    text-align: center;
    width: 65%;
    margin: auto;
    padding: 1em 2em
}
.show_right {
    width: 15%;
}
.button_back {
    text-decoration: none;
    text-emphasis: none;
    text-align: center;
    color: rgb(177, 212, 255);
    border-radius: 8px;
    padding: 9px 15px;
    margin: 0 0,5em;
    font-size: small;
}
.button_back:hover {
    background-color: rgb(33, 62, 97);
    color: rgb(255, 255, 255);
    box-shadow: 0px 8px 10px 0px rgb(12, 28, 48);
}
.show_header_title {
    margin: auto;
    width: 35%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.show_title {
    margin-top: 0;
    background: linear-gradient(rgb(54, 114, 155), rgb(73, 142, 189));
    color: white;
    border-radius: 20px;
    padding: 10px 25px;
}
.subtitle {
    margin: 0;
}
.nav_button {
    font-size: 4em; 
    text-decoration: none;
}

.subtitle {
    margin: 0;
}

.show_box {
    background: linear-gradient(rgb(54, 114, 155), rgb(73, 142, 189));
    font-size: small;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.171);
}
.show_box_img {
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
}
.show_img {
    width: 40%;
    border-radius: 10px;
}
.show_box_title {
    padding: 1em 1em 0;
}
.show_list{
    list-style-type: none;
    padding: 0 1em 1em;
    margin: 1em;
    text-align: center;
}
.show_list_item {
    margin: 0.5em;
}
.show_list_url {
    text-decoration: none;
    padding: 0.5em;
    border-radius: 10px;
    margin: 5px
}
.show_list_url:hover {
    background-color: white;
}
/* FOOTER */

.footer_logo_pro {
    width: 40px;
    margin: 1em;
    filter: saturate(0);
    filter: hue-rotate(rgb(33, 62, 97));
}

.footer_logo_pro:hover {
    box-shadow: 0px 4px 20px 1px rgb(82, 98, 119);
}

.profile-pic {
    width : 40em;

    border-radius: 50%;
    border: 3px solid rgb(6, 14, 24);
    box-shadow: 0px 8px 20px 5px rgb(11, 22, 36);
}

.footer {
    display: flex;
    flex-direction: column  ;
    justify-content: flex-end;
    text-align: center;
    /* position: fixed; */
    /* bottom: 10px; */
    left: 40%;
    right: 40%;
}

.footer_presentation {
    margin: 1px
}
.footer_presentation h5, h6 {
    margin: 2px;
}

.youtube {
    border-radius: 25px;
    box-shadow:  0px 8px 20px 5px rgb(11, 22, 36);
}

@media (min-width: 300px) {
    html {
        font-size: 30px;
    }
    .header {
        width: 100%
    }
    .profile-pic {
        width: 200px;
    }
    .parcours_cards {
        flex-direction: column;        
    }
    .parcours_card {
        width: 80%;
        margin: 2em auto;
    }
    .show_body {
        flex-direction: column;
    }
    .show_center{
        order: 1;
        width: 100%;
        padding: 0
    }
    .show_left{
        order: 2;
        width: 100%
    }
    .show_right{
        order: 3;
        width: 100%
    }
}

@media (min-width: 600px) {
    .profile-pic {
        width: 400px;
    }
    
}

@media (min-width: 900px) {
    .profile-pic {
        width: 400px;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: large;
    }
    .header {
        width: 35em;
    }
    .profile-pic {
        width: 400px;
    }
    .parcours_cards {
        flex-direction: row;
    }
    .parcours_card {
        width: 48%;
        margin: 2em auto;
    }
    .show_body {
        flex-direction: row;
    }
    .show_center{
        order: 2;
        width: 65%;
        padding: 1em 2em
    }
    .show_left{
        order: 1;
        width: 15%;
    }
    .show_right{
        order: 3;
        width: 15%;
    }
    #cinema_card {
    
        background: no-repeat left/80% 100% url('../assets/images/habillage/cinema_background.png') #F2F2F2;
    
    }
    #internet_card {
        background: no-repeat right/80% 100% url('../assets/images/habillage/internet_background.png') #F2F2F2;
    }
}

@media (max-width: 1200px ) {
    .parcours_card_ {
        order: 1;
    }
}


 