html{
    background: linear-gradient(rgb(18, 41, 70), rgb(14, 34, 59), rgb(18, 41, 70));
}

a {
    color: white;
}
body {
    font-family: 'Montserrat', sans-serif;
    width: 80vw;
    margin: auto;
    padding: auto;
    text-align: center;
    color: rgb(177, 212, 255)
}


.header {
    display:flex;
    flex-direction: row;
    width: 25em;
    margin: 2em auto;
    text-align: center;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    text-emphasis: none;
    text-align: center;
    color: rgb(177, 212, 255);
    border-radius: 8px;
    padding: 9px 15px;
    margin: 0 0,5em;
    font-size: small;
}

.header a:hover{
    background-color: rgb(33, 62, 97);
    color: rgb(255, 255, 255);
    box-shadow: 0px 8px 10px 0px rgb(12, 28, 48);
}

.parcours_index {
    text-emphasis: none;
    text-decoration: none;
    color: rgb(177, 212, 255);
    font-size: 40px;
    padding: 7px 15px;
    border-radius: 10px;
    margin: 40px;
}


.parcours_index:hover {
    background-color: rgb(33, 62, 97);
    color: rgb(255, 255, 255);
    box-shadow: 0px 8px 10px 0px rgb(12, 28, 48);
}
.parcours_cards {
    display: flex;
}

.parcours_card_1 {
    width: 450px;
    text-align: center;
    margin: 2em auto 3em;
    border-radius: 20px;
    box-shadow: 0px 8px 20px 0px rgb(4, 10, 17);
    text-decoration: none;
}
.parcours_card_1:hover{
    background-color: rgb(25, 54, 90);
}
.parcours_card_2 {
    width: 425px;
    text-align: center;
    margin: 2em auto 3em;
    border-radius: 20px;
    box-shadow: 0px 8px 20px 0px rgb(4, 10, 17);
    text-decoration: none;
}
.parcours_card_2:hover{
    background-color: rgb(25, 54, 90);
}
.parcours_card_header{

    display: flex;
    flex-direction: column;
}

.parcours_card_title {
    padding: 1em 0 0 0;
    margin: 0;
}

.parcours_card_duration {
    padding: 0;
    margin: 0;
}

.parcours_card_description {
    padding: 1em 3em;
}
.parcours_card_footer {
    display: flex;
    flex-direction: row;
}
.parcours_card_software {
    border-radius: 20px;
    box-shadow: 0px 4px 0px 2px rgb(4, 10, 17);
    width: 40%;
    margin: 1em auto;
    text-align: center;
}
.parcours_card_software:hover {
    background-color: rgb(46, 72, 104);;
}
.parcours_card_super_footer {
    margin: 1em;
}
.parcours_card_link {
    text-decoration: none;
}

/* SHOW */

.show_body {
    display: flex;
    width: 90%;
    padding: auto;
    margin: auto;
}
.show_left{
    width: 20%;
}
.show_center {
    width: 60%;
    margin: 1em;
}
.show_right {
    width: 20%;
}

.show_box {
    border-radius: 10px;
    box-shadow: 0px 4px 5px 3px rgb(9, 21, 36);
}
.show_img {
    width: 80px;
    border-radius: 5px;
}
.show_box_title {
    padding: 1em 1em 0;
}
.show_list{
    list-style-type: none;
    padding: 0 1em 1em;
    margin: 1em;
}
/* FOOTER */

.footer_logo_pro {
    width: 40px;
    margin: 1em;
    filter: saturate(0);
    filter: hue-rotate(rgb(33, 62, 97));
}

.footer_logo_pro:hover {
    box-shadow: 0px 4px 20px 1px rgb(82, 98, 119);
}

.profile-pic {
    width : 40em;

    border-radius: 50%;
    border: 3px solid rgb(6, 14, 24);
    box-shadow: 0px 8px 20px 5px rgb(11, 22, 36);
}

.footer {
    text-align: center;
    left: 100px; right: 100px; bottom: 10px;
}

.footer_presentation {
    margin: 1px
}
.footer_presentation h5, h6 {
    margin: 2px;
}

.youtube {
    border-radius: 25px;
}

@media (min-width: 300px) {
    .profile-pic {
        width: 200px;
    }
}

@media (min-width: 600px) {
    .profile-pic {
        width: 400px;
    }
}
