html{
    background: linear-gradient(rgb(250, 255, 251), rgb(243, 253, 245), rgb(250, 255, 251));
    background: no-repeat center/100% 100% url('../assets/images/habillage/green_white.jpg') fixed;
}

a {
    color: rgb(24, 100, 47)
}
body {
    color: rgb(12, 48, 22);
}



.nav_bar_item {
    color: rgb(31, 121, 58);
}

.nav_bar_item:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.404);
}

/* PARCOURS */


.parcours_index {
    color: rgb(0, 0, 0);
}


.parcours_index:hover {
    background-color: rgb(33, 97, 47);
}

.parcours_card {
    background: linear-gradient(rgb(255, 255, 255), #FAFEFB, rgb(255, 255, 255));
}
.parcours_card:hover{
    background-color: rgb(255, 255, 255);
}


.parcours_card_super_header{
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.514);
    padding: 0 0 14px;
    background: linear-gradient(rgb(29, 122, 57),rgb(42, 155, 76)) ;
    /* background: no-repeat center/100% url('../assets/images/habillage/green_back.jpg'); */
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    font-weight: bolder;
}
.parcours_card_super_header:hover {
    background: rgb(255, 255, 255);
    color: rgb(23, 161, 65);
    text-shadow: none;
}


/* .parcours_card_software {
    box-shadow: 0px 4px 0px 2px rgba(32, 32, 32, 0.26);
} */

/* PRODUCTION */
.production_index_exemple {
    color:  rgb(177, 212, 255);
}
.production_index_exemple:hover {
    background-color: rgb(255, 255, 255);
}
.production_card_title {
    color: white;
    box-shadow: 0px 4px 10px 2px rgb(11, 29, 49);
}
.production_card_title:hover {
    background-color: rgb(53, 117, 67);
}

.production_card_exemple {
    border-radius: 8px;
    margin: auto;
    color: rgb(14, 117, 45);
}
.production_card_exemple:hover {
    color: rgb(10, 77, 26);
    box-shadow: 0px 4px 10px 1px rgba(14, 41, 18, 0.281);
}
#application_doc {
    color: white;
}
.show_production_card_exemple {
    border-radius: 8px;
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 1px 0;
    color: rgb(255, 255, 255);
}
.show_production_card_exemple:hover {
    color: rgb(10, 77, 26);
    box-shadow: 0px 4px 10px 1px rgba(14, 41, 18, 0.281);
    background-color: rgb(255, 255, 255);
}
.production_card_link {
    text-align: center;
}

/* SHOW */
.show_box {
    background: linear-gradient(rgb(24, 100, 47),rgb(42, 155, 76)) ;
    border-radius: 10px;
    color: white;
    
    padding: 0 1em;
    font-weight: 600;
}
.show_center {
    color: black;
    background-color: #FAFEFB;
    /* backdrop-filter: opacity(80%); */
}
.show_title {
    background: linear-gradient(rgb(24, 100, 47),rgb(42, 155, 76)) ;
    border-radius: 20px;
    padding: 10px 25px;
    color: white;
}

.show_list_item {
    color: white;
}
.show_phone_number {
    text-decoration: none;
    color: white;
}
.button_back {
    color: rgb(177, 255, 181);
}
.button_back:hover {
    background-color: rgb(33, 97, 41);
    box-shadow: 0px 8px 10px 0px rgb(41, 41, 41);
}



.show_list_item {
}
.doc_exemple {
    margin: 1em
    
}
/* FOOTER */







@media (min-width: 300px) {
    html {
        font-size: 30px;
    }
    .profile-pic {
        width: 200px;
    }
    .parcours_cards {
        flex-direction: column;
        
    }
    .parcours_card {
        width: 100%;
        margin: 2em auto;
    }
    .show_body {
        flex-direction: column;
    }
    .show_center{
        order: 1;
        width: 100%;
        padding: 0
    }
    .show_left{
        order: 2;
        width: 100%
    }
    .show_right{
        order: 3;
        width: 100%
    }
}

@media (min-width: 600px) {
    .profile-pic {
        width: 400px;
    }
    
}

@media (min-width: 900px) {
    .profile-pic {
        width: 400px;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: large;
    }
    .profile-pic {
        width: 400px;
    }
    .parcours_cards {
        flex-direction: row;
    }
    .parcours_card {
        width: 40%;
        margin: 2em auto;
    }
    .show_body {
        flex-direction: row;
    }
    .show_center{
        order: 2;
        width: 65%;
        padding: 1em 2em
    }
    .show_left{
        order: 1;
        width: 15%;
    }
    .show_right{
        order: 3;
        width: 15%;
    }
}

