{% extends 'base.main.html.twig' %}

{% block title %}Guillaume Debeire{% endblock %}

{% block body %}

<div class="body">
    <h1 class="my_name">Guillaume Debeire</h1>
        <img class="profile-pic" src="{{ asset("assets/images/photos/guillaume.jpg") }}" alt="">
    <h2>Web Developer</h2>
    
</div>

{% endblock %}
