{% extends 'base.html.twig' %}

{% block title %}Documents index{% endblock %}

{% block body %}
    <h1>Mes Documents</h1>
        
            <div class= "production_index">
            {% for doc in docs %}
                        <a class="production_index_exemple" href="{{ asset(doc.path) }}">{{ doc.name }}</a>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}

        </div>
{% endblock %}
