{% extends 'base.html.twig' %}

{% block title %}Mon Parcours{% endblock %}

{% block body %}
    <h1>Mon Parcours</h1>

        {% for parcour in parcours %}
            
                <a class="parcours_index" href="{{ path('parcours_show', {'id': parcour.id}) }}) }}">{{ parcour.name }}</a>
            <br>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('parcours_new') }}">Create new</a>
    </div>
{% endblock %}
