{% extends 'base.html.twig' %}

{% block title %}Mes Productions{% endblock %}

{% block body %}
    <h1>Mes Productions</h1>

        {% for production in productions %}
            <a class="parcours_index" href="{{ path('production_show', {'id': production.id}) }}) }}">{{ production.name }}</a>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('production_new') }}">Create new</a>
    </div>
{% endblock %}
